* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #1a1c1b;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

#root {
  overflow: auto;
}

@font-face {
  font-family: "ballinger-mono";
  src:
    url("/displace/fonts/bm/bm-regular.woff2") format("woff2"),
    url("/displace/fonts/bm/bm-regular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "ballinger-mono";
  src:
    url("/displace/fonts/bm/bm-bold.woff2") format("woff2"),
    url("/displace/fonts/bm/bm-bold.woff") format("woff");
  font-weight: bold;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: "ballinger-mono", monospace;
  color: black;
  -webkit-font-smoothing: antialiased;
}

.overlay {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: whitesmoke;
  position: fixed;
  inset: 0;
  padding: 2rem;
}

.scroll-cue {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  animation: cueflip calc(var(--cuetime) * 2) infinite steps(2);
}

.scroll-cue div {
  width: 0.25rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background: whitesmoke;
}

@keyframes cueflip {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
}

:root {
  --cuetime: 3s;
}

.scroll-cue div:nth-child(1) {
  animation: cue var(--cuetime) infinite ease-in-out;
  animation-delay: 0ms;
}

.scroll-cue div:nth-child(2) {
  animation: cue var(--cuetime) infinite ease-in-out;
  animation-delay: 100ms;
}

.scroll-cue div:nth-child(3) {
  animation: cue var(--cuetime) infinite ease-in-out;
  animation-delay: 200ms;
}

.scroll-cue div:nth-child(4) {
  animation: cue var(--cuetime) infinite ease-in-out;
  animation-delay: 300ms;
}

.scroll-cue div:nth-child(5) {
  animation: cue var(--cuetime) infinite ease-in-out;
  animation-delay: 400ms;
}

@keyframes cue {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media (min-width: 51.875rem) {
  .overlay {
    padding: 3rem;
  }
  .scroll-cue {
    right: 3rem;
    top: 50vh;
    transform: translateY(-50%);
  }
}
