* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #1a1c1b;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

#root {
  overflow: auto;
}

@font-face {
  font-family: "ballinger-mono";
  src:
    url("/displace/fonts/bm/bm-regular.woff2") format("woff2"),
    url("/displace/fonts/bm/bm-regular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "ballinger-mono";
  src:
    url("/displace/fonts/bm/bm-bold.woff2") format("woff2"),
    url("/displace/fonts/bm/bm-bold.woff") format("woff");
  font-weight: bold;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: "ballinger-mono", monospace;
  color: black;
  -webkit-font-smoothing: antialiased;
}

.overlay {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: whitesmoke;
  position: fixed;
  inset: 0;
  padding: 2rem;
}

@media (min-width: 51.875rem) {
  .overlay {
    padding: 3rem;
  }
}
